<Configuration>
    <Server
        maxThreads="20"
        port="1080">
    </Server>
    <Plugin
        class="org.rsna.ctp.stdplugins.AuditLog"
        id="AuditLog"
        name="AuditLog"
        root="roots/AuditLog"/>
    <Plugin
        class="org.rsna.ctp.stdplugins.Redirector"
        httpPort="80"
        httpsHost="localhost"
        httpsPort="443"
        name="Redirector"/>
    <Pipeline name="HTTPSender">
        <DirectoryImportService
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            import="/mnt/DICOM"
            interval="1"
            name="DirectoryImportService"
            acceptDicomObjects="yes"
            acceptXmlObjects="yes"
            acceptZipObjects="yes"
            acceptFileObjects="yes"
            quarantine="quarantines/DirectoryImportService"
            quarantineTimeDepth="0"
            root="roots/DirectoryImportService"/>
        <DicomAnonymizer
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            id="DicomAnonymizer"
            lookupTable="scripts/LookupTable.properties"
            name="DicomAnonymizer"
            quarantine="quarantines/DicomAnonymizer"
            quarantineTimeDepth="0"
            root="roots/DicomAnonymizer"
            script="scripts/dicom-anonymizer-sender.script"/>
        <HttpExportService
            class="org.rsna.ctp.stdstages.HttpExportService"
            name="HttpExportService"
            quarantine="roots/quarantines/HttpExportService"
            quarantineTimeDepth="0"
            root="roots/HttpExportService"
            sendDigestHeader="yes"
            url="https://ctp.rcc.uq.edu.au:7777/"/>
    </Pipeline>
</Configuration>